{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block content %}
<div class="container w-50">
    <h1 class='text-center'>Registration</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% render_field field class="form-control mb-3 py-2" placeholder=field.label %}
        {% endfor %}
        <button class="btn btn-success text-uppercase" type="submit">
            Sign Up
        </button>
    </form>    

    <button class="btn btn-lg btn-danger btn-google text-uppercase mt-3" type="submit">
        <i class="fab fa-google mr-2"></i><a class="text-white text-decoration-none" href="{% provider_login_url 'google' %}" target="_blank"> Sign up with Google</a>
    </button> 
    <button class="btn btn-lg btn-primary text-uppercase mt-3" type="submit">
        <i class="fab fa-facebook mr-2"></i><a class="text-white text-decoration-none" href="{% provider_login_url 'facebook' %}" target="_blank"> Sign up with Facebook</a>
    </button> 
</div>
{% endblock content %}
